  $level-one: translateZ(3rem);
  $level-two: translateZ(6rem);
  $level-three: translateZ(9rem);

  $fw-thin: 200;
  $fw-normal: 400;
  $fw-bold: 700;

  $clr: #3f5a87;
  $clr-gradient: radial-gradient( #25447a6e, rgba(0, 0, 0, 0.368));
  $crimson: #dc143c;
  $background: #000;

  $spacer: 1em;
  $radius-sm: 5px;
  $radius-md: 10px;
  $radius-lg: 15px;

  $border-sm: 1px solid #fff;
  $border-md: 3px solid #ddd;
  $border-sm: 5px solid #f4f4f4;



